# App mode
# Valeurs possibles: auto | ihm
APP_MODE=ihm
ROYAUME_PROFESSOR_FETCH_DELAY=2s

# Private registry
DEVONN_REGISTRY_USERNAME=Reader
DEVONN_REGISTRY_PASSWORD=autre

# Observability exporters
#OTEL_TRACES_EXPORTER_ENDPOINT=http://otel-collector:4317
OTEL_TRACES_EXPORTER_ENDPOINT=http://otel-collector:4318/v1/traces
OTEL_METRICS_EXPORTER_ENDPOINT=http://otel-collector:4318/v1/metrics
# Jaeger UI (consultation des traces): http://localhost:16686

# Grafana admin
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=autre

# Postgres
POSTGRES_DB=royaume
POSTGRES_USER=royaume
POSTGRES_PASSWORD=autre

# Gatling (profile bench)
GATLING_API_BASE_URL=http://royaume-app:8080
GATLING_API_URI=/api/royaume/quests
GATLING_QUESTS_BASE_PATH=/api/royaume/quests
GATLING_LAUNCH_DELAY_MS=0
GATLING_SIMULATION_CLASS=IhmQuestLaunchSimulation
GATLING_USERS=20
GATLING_DURATION_SECONDS=60
GATLING_THINK_TIME_MS=750
GATLING_WARMUP_TIMEOUT_SECONDS=30
